<% layout("/layouts/boilerplate") %>

<div class="row">
  <!-- offset mje left to space -->
  <div class="col-8 offset-2">
    <br>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      
      <div class="mb-3"> <!-- margin-bottom-3 -->
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a Catchy Title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Good Title</div>
        <div class="invalid-feedback">Can't Leave Empty</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Describe Your Location"
          type="text"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Can't Leave Empty</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL"
          type="text"
          class="form-control"/>
          <div class="invalid-feedback">Can't Leave Empty</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]" 
            placeholder="1200" 
            type="number" 
            class="form-control" 
            required
            />
          <div class="invalid-feedback">Can't Leave Empty</div>
          <!-- <input
            name="listing[price]" 
            placeholder="1200" 
            class="form-control" 
            required
            /> -->

        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input 
            name="listing[country]" 
            placeholder="India" 
            type="text" 
            class="form-control"
            required 
            />
          <div class="invalid-feedback">Can't Leave Empty</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Jaipur Rajasthan"
          type="text"
          class="form-control" 
          required
          />
        <div class="invalid-feedback">Can't Leave Empty</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
    <br><br>
    </form>
  </div>
</div>

